<template>
	
	<header class="page-header">
		<h1>Todo List</h1>
	</header>
</template>

<script>
	export default{
		name:"PageHeader"
	}
</script>

<style scoped>
	.page-header{
		background: #333;
		color: #fff;
		text-align: center;
		padding: 10px;
		

	}

	.page-header a{
		color: #fff;
		padding-right: 5px;
	}
</style>