<template>
  <div id="app" >
    <AddTodo v-on:add-todo="saveTodo" />
    <Todos v-bind:todos="todos" v-on:del-todo="deleteTodo" />
  </div>
</template>

<script>
  
  import Todos from '../components/Todos';
  import AddTodo from '../components/AddTodo';
  import axios from 'axios';

export default {
  name: 'Home',
  components: {
    
    Todos,
    AddTodo
  },

  data() {
    return{
      todos: [
        
      ]
    }
  },

  methods:{
    deleteTodo(id)
    {
      axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
      .then(this.todos = this.todos.filter(todo => todo.id !== id))
      .catch(err => console.log(err));

      // this.todos = this.todos.filter(todo => todo.id !== id)
    },
    saveTodo(newTodo) {
      const { title, completed} = newTodo;

      axios.post('https://jsonplaceholder.typicode.com/todos',{title,completed})
      .then(res => this.todos = [...this.todos, res.data])
      .catch(err => console.log(err));

      // this.todos = [...this.todos, newTodo];
    }
  },

  created() {
    axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
    .then(res => this.todos = res.data)
    .catch(err => console.log(err));
  }
}
</script>

<style>
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.btn{
  display: inline-block;
  border: none;
  background: #4caf50;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #4caf50;
}

.btn:hover{
  background: #fff;
  color: #4caf50;
  border: 1px solid #4caf50;

}

body{
  font-family: Arial, Helvetica, sans-serif;
}
</style>
