<template>
	<div>
		<form @submit="addTodo">
			<input type="text" v-model="title" name="title" placeholder="Add todo item">
			<input type="submit" value="Submit" class="btn">
		</form>
	</div>
</template>

<script>
	// import {v4 as uuid} from 'uuid';
	export default{
		name: "AddTodo",
		data(){
			return {
				title: ''
			}
		},
		methods: {
			addTodo(e) {
				e.preventDefault()
				const newTodo = {
					// id: uuid(),
					title: this.title,
					completed: false
				}
				// send up to parent
				this.$emit('add-todo', newTodo);

				// clear input field
				this.title = ''
			}
		}
	}
</script>

<style scoped>
	form{
		display: flex;
		padding: 5px 0 5px 0;
	}

	input[type="text"]{
		flex: 10;
		padding: 5px;
	}
</style>